*{
    background-color: aqua;
}
#p1{
    width: 100px;
    height: 100px;
    background-color: green;
    margin-left: 500px;
    margin-top: 50px;
}
#p2{
    width: 100px;
    height: 100px;
    background-color: brown;
    margin-left: 602px;
    margin-top: -100px;
}

#p3{
    width: 100px;
    height: 100px;
    background-color: rosybrown;
    margin-left: 704px;
    margin-top: -100px;
}
#p4{
    width: 100px;
    height: 100px;
    background-color: skyblue;
    margin-left: 806px;
    margin-top: -100px;
}
#p5{
    width: 100px;
    height: 100px;
    background-color: lawngreen;
    margin-left: 908px;
    margin-top: -100px;
}
#p6{
    width: 100px;
    height: 100px;
    background-color: blueviolet;
    margin-left: 400px;
    margin-top: 20px;
}#p7{
    width: 100px;
    height: 100px;
    background-color: darkgoldenrod;
    margin-left: 502px;
    margin-top: -100px;
}#p8{
    width: 100px;
    height: 100px;
    background-color:darkgreen;
    margin-left: 604px;
    margin-top: -100px;
}
#p9{
    width: 100px;
    height: 100px;
    background-color:purple;
    margin-left: 706px;
    margin-top: -100px;
}#p10{
    width: 100px;
    height: 100px;
    background-color:red;
    margin-left: 808px;
    margin-top: -100px;
}#p11{
    width: 100px;
    height: 100px;
    background-color:grey;
    margin-left: 910px;
    margin-top: -100px;
}
#p12{
    width: 100px;
    height: 100px;
    background-color:darkred;
    margin-left: 1012px;
    margin-top: -100px;
}#p13{
    width: 100px;
    height: 100px;
    background-color:rgb(7, 4, 11);
    margin-left: 300px;
    margin-top: 20px;
}#p14{
    width: 100px;
    height: 100px;
    background-color:rgb(65, 63, 72);
    margin-left: 402px;
    margin-top: -100px;
}#p15{
    width: 100px;
    height: 100px;
    background-color:rgb(68, 32, 32);
    margin-left: 504px;
    margin-top: -100px;
}#p16{
    width: 100px;
    height: 100px;
    background-color:black;
    margin-left: 606px;
    margin-top: -100px;
}
#p17{
    width: 100px;
    height: 100px;
    background-color:rgb(4, 34, 19);
    margin-left: 708px;
    margin-top: -100px;
}#p18{
    width: 100px;
    height: 100px;
    background-color:rgb(9, 112, 9);
    margin-left: 810px;
    margin-top: -100px;
}
#p19{
    width: 100px;
    height: 100px;
    background-color:rgb(218, 16, 171);
    margin-left: 912px;
    margin-top: -100px;
}#p20{
    width: 100px;
    height: 100px;
    background-color:rgb(6, 3, 51);
    margin-left: 1014px;
    margin-top: -100px;
}#p21{
    width: 100px;
    height: 100px;
    background-color:rgb(61, 6, 63);
    margin-left: 1116px;
    margin-top: -100px;
}